#wrapper{
  background-image: url(https://s3.amazonaws.com/myfangate.com/teenbeach2/background-image.jpg);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.full-w{
  width: 100%;
}
.header{
  margin-top: 5%;
}
