<div class="col-xs-10 col-xs-offset-1 livestream">
  <div id="livestream">
    <!-- BACK SOON  -->
<!--     <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/rdtotalaccesslive3/checkbacksoon.jpg"> -->
    <!-- <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://livestream.com/accounts/7187039/events/4134883/player?width=560&height=315&autoPlay=true&mute=false" width="640" height="360" frameborder="0" scrolling="no" class="embed-responsive-item"></iframe>
    </div> -->
    <div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://livestream.com/accounts/7187039/events/4134883/videos/91062638/player?width=640&height=360&autoPlay=false&mute=false" width="640" height="360" frameborder="0" scrolling="no" class="embed-responsive-item"></iframe>
    </div>
  </div>
  <div id="soon" class="hidden">
    <!-- gate -->
    <img class="img-responsive" style="width: 640px;"src="https://s3.amazonaws.com/myfangate.com/teenbeach2/teenbeachgate.jpg">
  </div>
</div>
